.PostCard {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(203, 192, 171);
    border-right: 0;
    border-left: 0;
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem rgba(118, 83, 83, 0.118);
    .header {
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
        span {
            flex-grow: 1;
            display: flex;
            align-items: center;
            img {
                width: 4rem;
                border-radius: 50%;
                border: solid 0.3rem rgb(249, 77, 51);
            }
            p {
                margin-left: 0.5rem;
            }
        }
        svg {
            margin-right: 1rem;
            font-size: 1rem;
        }
    }
    .post {
        width: 100%;
        height: auto;
        min-height: 30rem;
        border: solid 1px rgba(0, 0, 0, 0.161);
        margin-bottom: 0.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .caption {
        &-icon {
            display: flex;
            span {
                flex-grow: 1;
                margin-left: 1rem;
            }
            svg {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
        &-action {
            display: flex;
            align-items: center;
            input {
                flex-grow: 1;
                height: 4rem;
                border: none;
                padding-left: 1rem;
                font-size: 1.5rem;
                &:focus {
                    outline: none;
                }
            }
            svg {
                font-size: 1.5rem;
                color: rgb(203, 192, 171);
            }
            button {
                border: none;
                background-color: transparent;
                height: 2rem;
                font-size: 1.5rem;
                color: rgb(203, 192, 171);
            }
        }
        .comment {
            width: 100%;
            height: 10rem;
            background-color: rgb(216, 205, 187);
            border-radius: 5px;
        }
    }
}
.miniProfile {
    width: 100%;
    .profile {
        display: flex;
        align-items: center;
        padding: 1rem;
        border: solid 1px rgba(142, 129, 105, 0.257);
        border-radius: 5px;
        box-shadow: 0.5rem 0.5rem rgba(142, 100, 100, 0.143);
        img {
            border: solid 1px rgba(174, 162, 139, 0.373);
            padding: 1px;
            border-radius: 50%;
            object-fit: cover;
        }
        div {
            flex-grow: 1;
            h2 {
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                color: rgb(113, 109, 102);
            }
            padding-left: 3rem;
        }
        button {
            height: 3rem;
            width: 4rem;
            background: transparent;
            border: none;
            font: 1.5rem;
            color: blue;
        }
    }
}
.postPage {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(0, 65rem) 1fr;
    .postDisplay {
        max-height: 100rem;
        overflow-y: scroll;
        margin: auto;
        width: 100%;
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
}
@media screen and (max-width: 960px) {
    .miniProfile {
        display: none;
    }
}
